$lightbrown: #f2f1ec;
$green: #345333;

.category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2.5rem 0;

    .smallheading {
        font-size: 1rem;
        text-align: center;
        // margin: 0.5rem;
    }

    .bigheading {
        font-size: 2.2rem;
        margin: 1rem;
        font-family: "Marcellus", sans-serif;
        font-weight: 700;
        text-align: center;

        @media (max-width:800px) {
            font-size: 1.8rem;
        }
    }

    .categorybtns {
        display: flex;
        gap: 0.75rem;
        overflow-x: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;
        width: 100%;
        align-items: center;
        justify-content: center;

        button {
            border: 2px solid transparent;
            box-sizing: border-box;
            background-color: #f2f2ec;
            border-radius: 20rem;
            padding: 0.8rem 2rem;
            font-size: 0.75rem;
            font-weight: 600;
            cursor: pointer;
            transition: all 0.2s ease-in-out;

            &:hover{
                border: 2px solid $green;
            }
        }

        .active {
            background-color: $green;
            color: white;
        }

        @media (max-width:800px) {
            // justify-content: flex-start;
            button{
                padding: 0.8rem 1.2rem;
            }
        }
        @media (max-width:600px) {
            justify-content: flex-start;
            button{
                padding: 0.8rem 1.2rem;
            }
        }
    }

    .foodgrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 2rem;
        column-gap: 1.5rem;
        margin-top: 3rem;
        max-width: 1300px;

        .food {
            display: flex;
            align-items: center;
            gap: 1rem;
            justify-content: center;
            width: 100%;

            img {
                height: 5rem;
            }

            .foodDetails {
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                .top {
                    display: flex;
                    justify-content: space-between;
                    gap: 1rem;

                    .foodname {
                        font-family: "Marcellus", sans-serif;
                        font-size: 1.25rem;
                        font-weight: 700;
                    }

                    .foodprice {
                        color: $green;
                        font-size: 1.25rem;
                        font-weight: 700;
                        font-family: "Marcellus", sans-serif;
                    }
                }

                hr {
                    border: 1px dashed #ececec;
                }

                .bottom {
                    display: flex;
                    justify-content: space-between;
                    gap: 1rem;

                    .foodDesc {
                        font-size: 0.8rem;
                        font-weight: 400;
                    }

                    .shopNow {
                        font-size: 0.8rem;
                        color: $green;
                        font-weight: 600;
                    }
                }
            }
        }

        @media (max-width:1400px) {
            max-width: 1150px;

        }

        @media (max-width:1200px) {
            max-width: 950px;

            .food{
                img{
                    height: 4rem;
                }
            }
        }

        @media (max-width:1000px) {
            max-width: 800px;
            
        }
        
        @media (max-width:800px) {
            grid-template-columns: 1fr;
            padding: 0 0.5rem;
            max-width: 550px;
            .food{
                gap: 0.5rem;
            }
        }

        @media (max-width:600px) {
            max-width: fit-content;

        }

        @media (max-width:500px) {}
    }

    .showMore {
        margin-top: 2rem;
        text-align: right;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
            color: green;
        }
    }
}